<!doctype html>
<html lang="en">
    <%- include('includes/head'); %>
<body>
    <div class="app-container app-theme-white body-tabs-shadow">
            <div class="app-main">
                <div class="app-main__outer">
                    <div class="app-main__inner">
                        <div class="row">
                            <div class="col-md-4"></div>
                            <div class="col-md-4">

                                <div class="main-card mb-3 card">

                                    <form name="login_form" id="login_form">

                                        <div class="card-header">
                                            <i class="header-icon lnr-laptop-phone icon-gradient bg-plum-plate"> </i>
                                            Derik Hair
                                        </div>

                                        <div class="card-body">
                                            
                                            <div class="form-group">
                                                <label for="usuario">Usuário</label>
                                                <input type="text" class="form-control" id="usuario" placeholder="Usuário" required>
                                            </div>
                                            <div class="form-group mb-0">
                                                <label for="senha">Senha</label>
                                                <input type="password" class="form-control" id="senha" placeholder="Senha" required>
                                            </div>
                                            
                                        </div>

                                        <div class="d-block text-right card-footer">
                                            <button type="submit" class="btn btn-primary">Entrar</button>
                                        </div>

                                    </form>

                                </div>
                            </div>
                            <div class="col-md-4"></div>
                        </div>
                    </div>
                </div>
        </div>
    </div>

    <%- include('includes/scripts', {path: request.path}); %>

    <script type="text/javascript">
    
        $(document).ready(function() {

            let $form       = $("#login_form")
            let $submit     = $form.find("button[type=submit]")
            let $alert      = $("<div />", {

                class: "alert alert-primary alert-dismissible fade show mt-3 mb-0",
                role: "alert",
                html: `<span></span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>`
                
            })
            let $alert_span = $alert.children("span")

            $form.submit((e) => {

                let sLogin    = $("#usuario").val()
                let sPassword = $("#senha").val()

                let sMessage = "Houve algum erro. Por favor, tente novamente mais tarde.",
                    sClass = "alert-danger"

                if ( !$alert.is(":visible") ) {

                    $alert.appendTo(".card-body")

                }

                $submit.attr("disabled", true)
                
                $alert.removeClass("alert-danger").addClass("alert-primary")
                $alert_span.text("Por favor, aguarde...")

                $.ajax({

                    url: "/login",
                    type: "POST",
                    data: {

                        login: sLogin,
                        password: sPassword

                    },
                    dataType: "JSON"

                }).done((oData) => {

                    sClass = "alert-success"
                    sMessage = `<b>Olá, ` + oData.name + `!</b><br>Redirecionando. Por favor, aguarde...`

                    setTimeout(() => {

                        window.location.href = "/dashboard"

                    }, 1000)

                }).fail((oErr) => {

                    sClass = "alert-danger"
                    sMessage = `<b>Oops...</b><br>` + ( oErr.responseJSON.message || sMessage )

                    $submit.removeAttr("disabled")

                }).always(() => {

                    $alert.removeClass("alert-primary").addClass(sClass + " show")
                    
                    $alert_span.html(sMessage)

                })

                e.preventDefault()

            })

        })

    </script>

</body>

</html>
